@model VentaAutomoviles.Models.Automovil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAutomovil.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAutomovil.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustible.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustible.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAutomovil }) |
    @Html.ActionLink("Back to List", "Index")
</p>
