@model VentaAutomoviles.Models.AutomovilesViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAutomovil.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAutomovil.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustible.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustible.Descripcion)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Volver", "Index", "Automoviles", new { @class = "btn btn-outline-primary mr-1" })
</div>