@model IEnumerable<VentaAutomoviles.Models.Automovil>

@{
    ViewBag.Title = "Index";
}

<h2>Automoviles disponibles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAutomovil.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCombustible.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAutomovil.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCombustible.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Facturar", "DetailsFactura", new { id=item.IdAutomovil }, new { @class = "btn btn-outline-secondary btn-sm mr-1" })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver", "IndexFacturador", "Home", new { @class = "btn btn-outline-primary mr-1" })
</div>