@{
    ViewBag.Title = "Home Page";
}


<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12">
                <h1 class="display-4 text-center pb-5">Bienvenido</h1>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Caracteristicas", "Index", "Caracteristicas", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Consignaciones", "Index", "Consignaciones", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Extras", "Index", "Extras", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Extras por Automovil", "Index", "ExtrasPorAutomoviles", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Ventas", "Ventas", "Home", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Ver Ventas por Tipo de Pago", "VentasTipoPago", "Home", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
                <div class="p-2 text-center">
                    @Html.ActionLink("Registrar Empleado", "RegisterEmpleado", "Account", null, new { @class = "btn btn-primary mr-1", style = "width:300px;" })
                </div>
            </div>
        </div>
    </div>
</div>