<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark" style="height:70px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand text-secondary" href="#">
                    <img src="~/res/tire.png" alt="logo" style="width:42px;height:42px;border:0;">
                    Venta de Autos
                </a>
            </div>
            <div class="navbar-expand" id="navbarText">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content p-4">
        @RenderBody()
        <hr class="pb-3"/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Venta de Autos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
