@model VentaAutomoviles.Models.Extra

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Extra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdExtra }) |
    @Html.ActionLink("Volver", "Index")
</p>
